:host {
  display: flex;
  width: 100%;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 50px;
  padding: 32px 28px;
  border: none;
  border-radius: 30px;
  outline: none;
  font-family: "Satoshi", serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1.5px;
  transition: background-color 0.2s;

  ::ng-deep {
    .ladda-label {
      display: flex;
      gap: 24px;
      align-items: center;
      font-family: "Satoshi", serif;
    }
  }

  h3 {
    color: white;
  }

  &.primary {
    color: var(--accent);
    background-color: var(--accent);

    &:hover {
      background-color: #d7b7f5;
    }
  }

  &.strong-blue {
    color: var(--white);
    background-color: var(--strong-blue);

    &:hover {
      background-color: var(--light-blue);
    }
  }

  &.accent {
    font-weight: 900;
    color: var(--white);
    background-color: var(--accent);

    &:hover {
      background-color: var(--accent-20);
    }
  }

  &.secondary {
    width: auto;
    border: 1px solid var(--black);
    font-weight: 300;
    color: var(--black);
    background-color: transparent;

    &:hover {
      background-color: var(--accent-20);
    }
  }

  &:disabled {
    border: none;
    box-shadow: none;
    opacity: 0.8;

    &:hover {
      cursor: not-allowed;
    }
  }
}

::ng-deep .ladda-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
