:host {
  display: flex;
  width: 100%;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 50px;
  padding: 32px 28px;
  border: none;
  border-radius: 30px;
  outline: none;
  font-family: "Montserrat", serif;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  transition: background-color 0.2s;

  h3 {
    color: white;
  }

  &.primary {
    color: var(--accent);
    background-color: var(--accent);

    &:hover {
      background-color: #d7b7f5;
    }
  }

  &.accent {
    font-weight: 900;
    color: var(--white);
    background-color: var(--accent);

    &:hover {
      background-color: var(--accent-20);
    }
  }

  &:disabled {
    border: none;
    box-shadow: none;
    opacity: 0.8;

    &:hover {
      cursor: not-allowed;
    }
  }
}

::ng-deep .ladda-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
