@use "../../scss/variables" as variables;

:host {
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding: 0 120px;
  background-image: url("/assets/images/about-me-background.png");
  background-size: cover;

  @media #{variables.$s-desktop} {
    padding: 0 100px;
  }

  @media #{variables.$xs-desktop} {
    padding: 0 80px;
  }

  @media #{variables.$tablet} {
    flex-direction: column;
    padding: 0 40px;
  }
}

.text-container {
  display: flex;
  flex-direction: column;
  max-width: 50%;

  @media #{variables.$tablet} {
    max-width: none;
  }
}

.image-me {
  max-width: 70%;

  @media #{variables.$phone} {
    max-width: 90%;
  }
}
