<la-title
  title="Titanium"
  number="03">
</la-title>

<div class="images-wrapper">
  <img class="titanium-main-image" src="assets/images/titanium1.png" alt="">
  <img class="titanium-about-image" src="assets/images/titanium2.png" alt="">
  <img class="titanium-footer-image" src="assets/images/titanium3.png" alt="">
</div>

<la-color-text-card
  imageUrl="assets/images/titanium-colors.png"
  [aboutText]="'labelTitanium.aboutText' | translate"
  [taskText]="'labelTitanium.taskText' | translate">
</la-color-text-card>
