<la-title 
  number="01" 
  title="Obrenovac Waterfront">
</la-title>

<div class="wrapper">
  <img src="assets/images/waterfront1.png" alt="image">
  <img src="assets/images/waterfront2.png" alt="image">
  <img src="assets/images/waterfront3.png" alt="image">
  <img src="assets/images/waterfront4.png" alt="image">
</div>

<la-color-text-card
  imageUrl="assets/images/gamejameri.png" 
  [aboutText]="'labelMain.waterfront' | translate"
  [taskText]="'labelZenith.taskText' | translate">
</la-color-text-card>

<video loop [muted]="true" controls playsInline  poster="assets/images/waterfront2.png" >
    <source src="assets/videos/waterfront.mp4">
</video>

