@use "../../scss/variables" as variables;

:host {
  position: relative;
  display: flex;
  flex-direction: column;
  height: calc(85dvh - 100px);
  padding: 120px 120px 0;

  @media #{variables.$s-desktop} {
    padding: 0 120px;
  }

  @media #{variables.$xs-desktop} {
    padding: 0 80px;
  }

  @media #{variables.$tablet} {
    height: auto;
    padding: 0 40px;
    padding-bottom: 40px;
  }
}

.text-container {
  z-index: 2;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: left;
  gap: 10px;

  @media #{variables.$m-phone} {
    width: 100%;
  }

  h1 {
    z-index: 2;
    padding: 0;
    margin: 0;
    font-family: "Satoshi", sans-serif;
    font-weight: 100;

    .blue {
      color: var(--light-blue);
    }

    .bold {
      font-weight: 400;
    }

    @media #{variables.$m-phone} {
      width: 100%;
    }
  }

  p {
    font-size: 24px;
    text-align: left;

    @media #{variables.$phone} {
      font-size: 22px;
      line-height: 1.2;
    }
  }

  .name {
    font-family: "Satoshi", serif;
    font-weight: 400;
  }
}

la-button {
  z-index: 2;
}

.projects-button {
  margin-top: 60px;

  @media #{variables.$phone} {
    margin-top: 32px;
  }
}

.behance-button-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;

  la-button {
    justify-content: flex-end;
  }
}

.view-project-button {
  z-index: 2;
  display: flex;
  align-items: center;
  height: 85px;
  padding: 20px;
  font-size: 20px;
  background-color: #bfacfa;
  cursor: pointer;
  align-self: flex-end;
  gap: 15px;

  @media #{variables.$s-desktop} {
    padding: 0;
    margin-top: 60px;
    align-self: flex-start;
  }

  @media #{variables.$tablet} {
    img {
      height: 70px;
    }
  }

  p {
    font-weight: 900;
    color: var(--black);
  }
}

.desktop-only {
  @media #{variables.$phone} {
    display: none;
  }
}
