<div class="text-container">
  <h1><span class="bold">{{ 'labelMain.hello' | translate }} Nevena Radosavljević </span>your<br>
    <span class="blue">creative partner</span> for everything from <br>
    <span class="bold">pixels to motion.</span>
  </h1>
  <p class="description-text">Whether it’s graphic design, UI/UX, web design or editing</p>
</div>

<la-button #projectsButton class="projects-button" color="strong-blue" iconName="arrow_right" [iconVariant]="24" [iconSize]="24" iconColor="white" [isLoading]="false" (buttonClick)="scrollToSection('projects')">
  <span>
    {{ 'labelMain.viewProject' | translate }}
  </span>
</la-button>

<a
  href="https://www.behance.net/nevenaradosav1"
  target="_blank"
  rel="noopener noreferrer"
  class="behance-button-wrapper"
>
  <la-button
    class="projects-button"
    color="secondary"
    iconName="arrow_up_right"
    [iconVariant]="24"
    [iconSize]="24"
    iconColor="black"
    [isLoading]="false"
  >
    <span>
      Hey, follow Nevena on Behance
    </span>
  </la-button>
</a>


<img class="background-image" src="assets/images/hero-background.png" alt="Aurora">
