<div class="text-container">
  <h1>{{ 'labelMain.hello' | translate }}</h1>
  <h1 class="name">Nevena Radosavljević</h1>
  <h1 id="typewriter-hero"></h1>
</div>

<img class="aurora-image-1" src="assets/images/aurrora.png" alt="Aurora">
<!-- <img class="aurora-image-2" src="assets/images/aurora.png" alt="Aurora 2"> -->

<div class="view-project-button" (click)="scrollToSection('projects')">
  <p>{{ 'labelMain.viewProject' | translate }}</p>
  <img src="assets/images/arrow.png" alt="Pointer" class="button-icon">
</div>
