@use "../../scss/variables" as variables;

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100dvh - 100px);
  padding: 0 200px;

  @media #{variables.$s-desktop} {
    padding: 0 120px;
  }

  @media #{variables.$xs-desktop} {
    padding: 0 80px;
  }

  @media #{variables.$tablet} {
    padding: 0 40px;
  }
}

.text-container {
  z-index: 2;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: left;
  gap: 10px;

  @media #{variables.$m-phone} {
    width: 100%;
  }

  h1 {
    z-index: 2;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", serif;

    @media #{variables.$m-phone} {
      width: 100%;
    }
  }

  .name {
    font-family: "Chonburi", serif;
    font-weight: 400;
  }
}

.aurora-image-1 {
  position: absolute;
  top: -550px;
  right: -350px;
  z-index: 1;
  width: 1450px;

  @media #{variables.$phone} {
    width: 1000px;
  }
}

.aurora-image-2 {
  position: absolute;
  top: 400px;
  left: -350px;
  z-index: 1;
  width: 1050px;
  rotate: -95deg;

  @media #{variables.$phone} {
    width: 800px;
  }
}

.view-project-button {
  z-index: 2;
  display: flex;
  align-items: center;
  padding: 20px;
  align-self: flex-end;
  cursor: pointer;
  gap: 15px;

  @media #{variables.$s-desktop} {
    padding: 0;
    margin-top: 60px;
    align-self: flex-start;
  }

  @media #{variables.$tablet} {
    img {
      height: 70px;
    }
  }

  p {
    font-weight: 900;
    text-transform: uppercase;
  }
}
