@use "../../scss/variables" as variables;

:host {
  z-index: 2;
  padding: 32px 120px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  font-size: 28px;
  font-weight: bold;
  color: var(--black);
  text-decoration: none;
}

.navbar-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  border-radius: 40px;
  list-style: none;
  background-color: #000000;
  gap: 50px;

  @media #{variables.$tablet} {
    display: none;
  }
}

.navbar-link {
  position: relative;
  font-size: 18px;
  font-weight: bold;
  color: var(--white);
  text-decoration: none;
}

.navbar-link::before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: var(--white);
  transition: width 0.3s ease;
}

.navbar-link:hover::before {
  width: 100%;
}

.language-selector {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--black);
}

.language-selector span {
  position: relative;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.3s ease;

  &::before {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: var(--black);
    transition: width 0.3s ease;
  }

  &:hover::before {
    width: 100%;
  }
}
