<h1 #heading>Experience</h1>

<div class="wrapper">
  <la-experience-block
    [title]="'labelExperience.associateTitle' | translate"
    [description]="'labelExperience.associateText' | translate">
  </la-experience-block>

  <la-experience-block
    [title]="'labelExperience.fonisTitle' | translate"
    [description]="'labelExperience.fonisText' | translate">
  </la-experience-block>

  <la-experience-block
    [title]="'labelExperience.artemiTitle' | translate"
    [description]="'labelExperience.artemiText' | translate">
  </la-experience-block>
</div>
