@use "../../scss/variables" as variables;

:host {
  padding: 200px;

  @media #{variables.$phone} {
    padding: 0 40px;
  }
}

.email-highlight {
  color: var(--accent);
}

.phone-highlight {
  color: var(--accent);
}

p {
  font-weight: bold;
  color: var(--black);
}

.custom-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 70px;
  padding: 16px 28px;
  margin-top: 50px;
  border: none;
  border-radius: 40px;
  outline: none;
  background-color: var(--accent);

  h3 {
    font-size: 19px;
    color: var(--white);
    text-transform: uppercase;

    @media #{variables.$phone} {
      font-size: 15px;
    }
  }

  @media #{variables.$phone} {
    width: 190px;
    height: 55px;
  }
}
