<div class="video-container">
  <img  class="logo" src="assets/images/fon-logo-eng.png" alt="logo-image"> 
  <div class="wrapper">
    <video autoplay muted="true" loop><source src="assets/videos/building.mp4" type="video/mp4"></video>
    <video muted="true" loop><source src="assets/videos/fon-55.mp4" type="video/mp4"></video>
    <video muted controls poster="assets/images/video-cover.jpg"><source src="assets/videos/fonboarding.mp4" type="video/mp4"></video>
  </div>
  <div class="wrapper">
    <video muted loop poster="assets/images/video-cover-pm.jpg"><source src="assets/videos/pm-forum.mp4" type="video/mp4"></video>
    <video muted loop poster="assets/images/video-cover-sah.png"><source src="assets/videos/sah.mp4" type="video/mp4"></video>
    <video autoplay loop [muted]="true" playsInline><source src="assets/videos/summer-school.mp4" type="video/mp4"></video>
  </div>
  <img  class="logo" src="assets/images/fonis-logo.png" alt="logo-image"> 
  <div class="wrapper">
    <video muted loop poster="assets/images/hzs-banner-cover.png"><source src="assets/videos/hzs-banner.mp4" type="video/mp4"></video>
    <video autoplay muted loop><source src="assets/videos/tizer.mp4" type="video/mp4"></video>
    <video muted="true" loop><source src="assets/videos/hzs-open.mp4" type="video/mp4"></video>
  </div>
  <div class="wrapper">
    <video muted loop><source src="assets/videos/throwback.mp4" type="video/mp4"></video>
    <video muted loop><source src="assets/videos/hzs-closed.mp4" type="video/mp4"></video>
    <video muted="true" loop poster="assets/images/hzs-partners-cover.png"><source src="assets/videos/hzs-partners.mp4" type="video/mp4"></video>
  </div>
  <img  class="logo" src="assets/images/moje-tapete.png" alt="logo-image"> 
  <div class="wrapper">
    <video muted loop><source src="assets/videos/children-room.mp4" type="video/mp4"></video>
    <video muted loop><source src="assets/videos/room.mp4" type="video/mp4"></video>
    <video muted="true" loop poster="assets/images/cover-sala.png"><source src="assets/videos/big-room.mp4" type="video/mp4"></video>
  </div>
</div>
