<la-video-editing-section
  logoUrl="assets/images/fon-logo-eng.png"
  [videos]="fonVideos">
</la-video-editing-section>

<!-- <la-video-editing-section
  logoUrl="assets/images/fon-logo-eng.png"
  [videos]="fonVideos">
</la-video-editing-section>

<la-video-editing-section
  logoUrl="assets/images/fon-logo-eng.png"
  [videos]="fonVideos">
</la-video-editing-section>

<la-video-editing-section
  logoUrl="assets/images/fon-logo-eng.png"
  [videos]="fonVideos">
</la-video-editing-section> -->

<!--
<img class="logo" src="assets/images/fonis-logo.png" alt="logo-image">
<div class="wrapper">
  <video muted loop poster="assets/images/hzs-banner-cover.png">
    <source src="assets/videos/hzs-banner.mp4" type="video/mp4">
  </video>
  <video autoplay muted loop>
    <source src="assets/videos/tizer.mp4" type="video/mp4">
  </video>
  <video muted="true" loop>
    <source src="assets/videos/hzs-open.mp4" type="video/mp4">
  </video>
</div>
<div class="wrapper">
  <video muted loop>
    <source src="assets/videos/throwback.mp4" type="video/mp4">
  </video>
  <video muted loop>
    <source src="assets/videos/hzs-closed.mp4" type="video/mp4">
  </video>
  <video muted="true" loop poster="assets/images/hzs-partners-cover.png">
    <source src="assets/videos/hzs-partners.mp4" type="video/mp4">
  </video>
</div>
<img class="logo" src="assets/images/moje-tapete.png" alt="logo-image">
<div class="wrapper">
  <video muted loop>
    <source src="assets/videos/children-room.mp4" type="video/mp4">
  </video>
  <video muted loop>
    <source src="assets/videos/room.mp4" type="video/mp4">
  </video>
  <video muted="true" loop poster="assets/images/cover-sala.png">
    <source src="assets/videos/big-room.mp4" type="video/mp4">
  </video>
</div>  -->
