<la-title
  number="06"
  [title]="'labelMain.ticketTitle' | translate">
</la-title>

<img class="main-image" src="assets/images/tickets.png" alt="ticket-image">

<div class="wrapper">
  <img class="ticket-screen" src="assets/images/ticket1.png" alt="ticket-image">

  <div class="colors-text-wrapper">
    <h3>{{'labelMain.aboutTitle' | translate}}</h3>
    <p>{{'labelMain.ticketAbout' | translate}}</p>
    <h3>{{'labelMain.taskTitle' | translate}}</h3>
    <p>{{'labelMain.ticketTask' | translate}}</p>
    <img src="assets/images/ticket-colors.png" alt="ticket-image">
  </div>
</div>

<img class="ticket-image" src="assets/images/ticket4.png" alt="media-image">
