@use "../../scss/variables" as variables;

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;

  @media #{variables.$s-desktop} {
    padding: 0 120px;
  }

  @media #{variables.$xs-desktop} {
    padding: 0 80px;
  }

  @media #{variables.$tablet} {
    padding: 0 40px;
  }
}

img {
  width: 70%;
  margin-left: 50px;

  @media #{variables.$phone} {
    width: 100%;
    margin-left: 0;
  }
}
