@use "../../../../scss/variables" as variables;

:host {
  z-index: 3;
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;

  @media #{variables.$wide-desktop} {
    width: 70%;
  }

  &:hover {
    cursor: pointer;
  }
}

.project {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;

  @media #{variables.$ultra-wide-desktop} {
    height: 440px;
  }

  @media #{variables.$xxl-desktop} {
    height: 360px;
  }

  @media #{variables.$xl-desktop} {
    height: 320px;
  }

  @media #{variables.$s-desktop} {
    height: 280px;
  }

  @media #{variables.$xs-desktop} {
    height: auto;
  }

  @media #{variables.$wide-desktop} {
    height: auto;
  }

  &:hover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background-color: black;
    pointer-events: none;
    opacity: 0.65;

    @media #{variables.$wide-desktop} {
      border-radius: 22px;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    transition: opacity 0.5s;

    @media #{variables.$wide-desktop} {
      border-radius: 22px;
    }
  }

  .text {
    position: absolute;
    bottom: 10%;
    left: 5%;
    z-index: 2;
    display: none;
    flex-direction: column;
    gap: 12px;

    h3 {
      margin: 0;
      font-size: 1.5em;
      font-weight: 700;
      line-height: 1.1;
      color: white;
    }

    span {
      color: var(--white);
    }

    .tags-wrapper {
      display: flex;
      align-items: center;
      margin-top: 8px;
      gap: 12px;

      .project-tag {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px 24px;
        border-radius: 30px;
        color: var(--white);
        background-color: var(--strong-blue);

        @media #{variables.$s-desktop} {
          font-size: 15px;
        }
      }
    }
  }
}

.visible-text {
  display: flex !important;
  animation: fadeInUp;
  animation-duration: 0.5s;

  @media #{variables.$xs-desktop} {
    display: none !important;
  }
}

.text-tablet {
  z-index: 2;
  display: none;
  flex-direction: column;
  gap: 12px;

  @media #{variables.$xs-desktop} {
    display: flex !important;
  }

  h3 {
    margin: 0;
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.1;
  }

  span {
    color: var(--white);

    @media #{variables.$xs-desktop} {
      color: var(--black);
    }
  }

  .tags-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 8px;
    gap: 12px;

    .project-tag {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px 24px;
      border-radius: 30px;
      color: var(--white);
      background-color: var(--strong-blue);
    }
  }
}
