<la-title 
  title="Academia" 
  number="02">
</la-title>

<img src="assets/images/academia.png" alt="academia-image">

<la-color-text-card
  imageUrl="assets/images/academia-colors.png" 
  [aboutText]="'labelAcademia.aboutText' | translate"
  [taskText]="'labelAcademia.taskText' | translate">
</la-color-text-card>

<div class="images-wrapper">
  <img src="assets/images/academia1.png" alt="zenith-image">
  <img src="assets/images/academia2.png" alt="zenith-image">
  <img src="assets/images/academia3.png" alt="zenith-image">
</div>
