@use "../../scss/variables" as variables;

:host {
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;

  @media #{variables.$s-desktop} {
    padding: 0 120px;
  }

  @media #{variables.$xs-desktop} {
    padding: 0 80px;
  }

  @media #{variables.$tablet} {
    padding: 0 40px;
  }
}

.image-main-zenith {
  width: 100%;

  @media #{variables.$phone} {
    width: 120%;
  }
}

.images-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;

  @media #{variables.$phone} {
    flex-direction: column;
  }

  img {
    width: 30%;
    object-fit: contain;

    @media #{variables.$phone} {
      width: 100%;
    }
  }
}
