 <swiper-container autoplay effect="cards" grab-cursor="true">
   <swiper-slide>
     <img src="/assets/images/art-ex.png" alt="Image-1">
   </swiper-slide>
    <swiper-slide>
      <img src="/assets/images/artemi.png" alt="Image-1">
    </swiper-slide>
    <swiper-slide>
      <img src="/assets/images/hzs.png" alt="Image-3">
    </swiper-slide>
    <swiper-slide>
      <img src="/assets/images/memory.png" alt="Image-2">
    </swiper-slide>
    <swiper-slide>
      <img src="/assets/images/stickers.png" alt="Image-2">
    </swiper-slide>
    <swiper-slide>
      <img src="/assets/images/academia-poster.png" alt="Image-2">
    </swiper-slide>
  </swiper-container>
