<la-hero></la-hero>

<la-about-me></la-about-me>

<la-skill></la-skill>

<la-experience></la-experience>

<div id="projects" class="title-aurora">
  <h1 class="project-title">Projects</h1>

  <div class="wrapper">

    <div class="buttons-wrapper">
      <button
        [class.active-button]="projectsActiveType === 'websites'"
        [disabled]="projectsActiveType === 'websites'"
        (click)="redirect('websites')">
        Web & Mobile
      </button>

      <button
        [class.active-button]="projectsActiveType === 'video-editing'"
        [disabled]="projectsActiveType === 'video-editing'"
        (click)="redirect('video-editing')">
        Video Editing
      </button>

      <button
        [class.active-button]="projectsActiveType === 'posts'"
        [disabled]="projectsActiveType === 'posts'"
        (click)="redirect('posts')">
        Posts
      </button>
    </div>
  </div>
  <!-- <img class="aurora-image-4" src="assets/images/aurora.png" alt="Aurora 2"> -->
</div>

<router-outlet></router-outlet>

<la-contact></la-contact>

<la-footer></la-footer>
