<la-hero></la-hero>

<la-about-me></la-about-me>

<la-skill></la-skill>

<la-experience></la-experience>

<h1 id="typewriter-title-projects" class="project-title"></h1>
<la-video-editing-section
  [isMediumCard]="true"
  [videos]="landingVideos">
</la-video-editing-section>

<div id="projects" class="title-aurora">
  <!-- <img class="aurora-image-3" src="assets/images/aurora.png" alt="Aurora"> -->
  <div class="wrapper">

    <div class="buttons-wrapper">
      <button
        [class.active-button]="projectsActiveType === 'websites'"
        [disabled]="projectsActiveType === 'websites'"
        (click)="redirect('websites')">
        Web & Mobile
      </button>

      <button
        [class.active-button]="projectsActiveType === 'video-editing'"
        [disabled]="projectsActiveType === 'video-editing'"
        (click)="redirect('video-editing')">
        Video Editing
      </button>

      <button
      [class.active-button]="projectsActiveType === 'illustrations'"
      [disabled]="projectsActiveType === 'illustrations'"
      (click)="redirect('illustrations')">
      Games
    </button>

      <button
        [class.active-button]="projectsActiveType === 'posts'"
        [disabled]="projectsActiveType === 'posts'"
        (click)="redirect('posts')">
        Posts
      </button>
    </div>
  </div>
  <!-- <img class="aurora-image-4" src="assets/images/aurora.png" alt="Aurora 2"> -->
</div>

<router-outlet></router-outlet>

<la-contact></la-contact>

<la-footer></la-footer>
