<div class="wrapper">
  <la-project
    #sanobot
    videoUrl="/assets/images/SanoBot.png"
    projectUrl="https://www.behance.net/gallery/226496829/Medicine-Website-SanoBot"
    [isImageOnly]="true"
    [heading]="'Sanobot'"
    [description]="'label.pleanDescription' | translate"
     [tags]="['Figma', 'Adobe Photoshop']">
  </la-project>

  <la-project
    #idealWedding
    videoUrl="/assets/images/klara.png"
    projectUrl="https://www.behance.net/gallery/226503257/Marketing-Website-for-a-client"
    [isImageOnly]="true"
    [heading]="'Klara Schmidt Website'"
    [description]="'label.idealWeddingDescription' | translate"
    [tags]="['Figma', 'Adobe Photoshop','Adobe Illustrator']">
  </la-project>

  <la-project
    #fonboard
    videoUrl="/assets/images/gridoffice.png"
    projectUrl="https://www.behance.net/gallery/226596237/Booking-Website-for-Private-Offices-Coworking"
    [isImageOnly]="true"
    [heading]="'Grid Office'"
    [description]="'label.fonboardDescription' | translate"
     [tags]="['Figma', 'Adobe Photoshop','Adobe Illustrator']">
  </la-project>

  <la-project
    #brandedGames
    videoUrl="/assets/images/flowix.png"
    projectUrl="https://www.behance.net/gallery/226497683/Flowix-Business-website"
    [isImageOnly]="true"
    [heading]="'Flowix Website'"
    [description]="'label.brandedGamesDescription' | translate"
     [tags]="['Figma', 'Adobe Illustrator']">
  </la-project>
</div>
