@use "../../../scss/variables" as variables;

:host {
  position: relative;
  display: flex;
  flex-direction: column;
}

h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.title-wrapper {
  z-index: 2;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  margin-top: 60px;
  justify-items: center;
  row-gap: 40px;
  column-gap: 40px;

  @media #{variables.$xxl-desktop} {
    row-gap: 40px;
  }

  @media #{variables.$laptop} {
    row-gap: 40px;
  }

  @media #{variables.$xl-desktop} {
    grid-template-columns: 1fr;
  }

  @media #{variables.$l-desktop} {
    row-gap: 60px;
    column-gap: 60px;
  }
}

img {
  position: absolute;
  top: -80%;
  left: -10%;
  z-index: 1;
  width: 110vw;
  object-fit: cover;

  @media #{variables.$l-desktop} {
    top: -120%;
  }
}
