@use "../../../scss/variables" as variables;

:host {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 120px;

  @media #{variables.$xs-desktop} {
    padding: 0 80px;
  }

  @media #{variables.$m-phone} {
    padding: 0 20px;
  }
}

h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.title-wrapper {
  z-index: 2;
}

.wrapper {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  margin-top: 60px;
  row-gap: 20px;
  column-gap: 20px;

  @media #{variables.$xxl-desktop} {
    row-gap: 20px;
  }

  @media #{variables.$laptop} {
    row-gap: 20px;
  }

  @media #{variables.$xs-desktop} {
    grid-template-columns: 1fr;
  }

  @media #{variables.$l-desktop} {
    row-gap: 20px;
    column-gap: 20px;
  }

  @media #{variables.$wide-desktop} {
    row-gap: 60px;
    column-gap: 60px;

    .flex-start {
      justify-self: start;
    }

    .flex-end {
      justify-self: end;
    }
  }
}

img {
  position: absolute;
  top: -80%;
  left: -10%;
  z-index: 1;
  width: 100vw;
  object-fit: cover;

  @media #{variables.$l-desktop} {
    top: -120%;
  }
}
