<div class="wrapper">
  <la-project
    #sanobot
    class="flex-end"
    videoUrl="/assets/images/sanobot.png"
    projectUrl="https://www.behance.net/gallery/226496829/Medicine-Website-SanoBot"
    [isImageOnly]="true"
    [heading]="'Sanobot'"
    [description]="'labelMain.sanobot' | translate"
    [tags]="['Figma', 'Adobe Photoshop']">
  </la-project>

  <la-project
    #idealWedding
    class="flex-start"
    videoUrl="/assets/images/klara.png"
    projectUrl="https://www.behance.net/gallery/226503257/Marketing-Website-for-a-client"
    [isImageOnly]="true"
    [heading]="'Klara Schmidt Website'"
    [description]="'labelMain.klara' | translate"
    [tags]="['Figma', 'Adobe Photoshop','Adobe Illustrator']">
  </la-project>

  <la-project
    #fonboard
    class="flex-end"
    videoUrl="/assets/images/titanium.png"
    projectUrl="https://www.behance.net/gallery/226778865/Titanium-AI-powered-SaaS-for-Financial-Freedom"
    [isImageOnly]="true"
    [heading]="'Titanium Website'"
    [description]="'labelMain.titanium' | translate"
    [tags]="['Figma', 'Adobe Photoshop','Adobe Illustrator']">
  </la-project>

  <la-project
    #fonboard
    class="flex-end"
    videoUrl="/assets/images/gridoffice.png"
    projectUrl="https://www.behance.net/gallery/226596237/Booking-Website-for-Private-Offices-Coworking"
    [isImageOnly]="true"
    [heading]="'Grid Office'"
    [description]="'labelMain.gridoffice' | translate"
    [tags]="['Figma', 'Adobe Photoshop','Adobe Illustrator']">
  </la-project>

  <la-project
    #brandedGames
    class="flex-start"
    videoUrl="/assets/images/flowix.png"
    projectUrl="https://www.behance.net/gallery/226497683/Flowix-Business-website"
    [isImageOnly]="true"
    [heading]="'Flowix Website'"
    [description]="'labelMain.flowix' | translate"
    [tags]="['Figma', 'Adobe Illustrator']">
  </la-project>
</div>
